---
layout: default
title: blog
nav: blog
---
<!-- actual content -->
<div class="container-fluid">
    <div class="row" style="margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: 20px">
        <!--<div class="col-sm-12 text-left">
            <button type="button" class="btn btn-outline-primary btn-sm active">All</button>
            <button type="button" class="btn btn-outline-secondary btn-sm">Life</button>
            <button type="button" class="btn btn-outline-secondary btn-sm">Programming</button>
            <button type="button" class="btn btn-outline-secondary btn-sm">Electronics</button>
            <button type="button" class="btn btn-outline-secondary btn-sm">Misc. Hobbies</button>
        </div>-->
    </div>
    <div class="row" style="margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: 20px">
        {% for post in site.posts %}
            {% if post.type == "blogpost" %}
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src={{ post.thumbnail }}>
                        <div class="card-body text-left">
                            <h4 class="card-title"> <a href="{{ post.url }}" style="color: black;">{{ post.title }}</a></h4>
                            <p class="card-text">{{ post.description }} <br> {{ post.date | date: "%m/%d/%Y" }} </p>
                            <!-- {% if post.postname %}
                                <a href="{{ post.url }}" class="btn btn-primary btn-info">Post</a>
                            {% endif %}
                            {% if post.github %}
                                <a href="{{ post.github }}" class="btn btn-primary btn-secondary">GitHub</a>
                            {% endif %}
                            {% if post.youtube %}
                                <a href="{{ post.youtube }}" class="btn btn-primary btn-danger">YouTube</a>
                            {% endif %} -->
                        </div>
                    </div>
                    <br>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
