---
layout: default
title: blog
nav: blog
---
<!-- actual content -->
<div class="container-fluid">
    <div class="row" style="margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: 20px">
        {% for post in site.posts %}
            {% if post.category == "blogpost" %}
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="images/datboi.jpg">
                        <div class="card-body text-left">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.description }}</p>
                            <a href="#" class="btn btn-primary btn-info">Yeah</a>
                            <a href="#" class="btn btn-primary btn-secondary">Yuh</a>
                            <a href="#" class="btn btn-primary btn-danger">Yee</a>
                        </div>
                    </div>
                    <br>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>