<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <title> {{ page.title }} </title>

</head>

<body>

<!-- js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">

    <a class="navbar-brand" href="/index.html">
        &nbsp;joat.ml
    </a>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav nav-pills mr-auto">
            {% if page.nav == "blog" %}
                <li class="nav-item active">
                    <a class="nav-link" href="/blog.html">blog</a>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/blog.html">blog</a>
                </li>
            {% endif %}
            {% if page.nav == "projects" %}
                <li class="nav-item active">
                    <a class="nav-link" href="/projects.html">projects</a>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/projects.html">projects</a>
                </li>
            {% endif %}
            {% if page.nav == "creative" %}
                <li class="nav-item active">
                    <a class="nav-link" href="/creative.html">creative</a>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/creative.html">creative</a>
                </li>
            {% endif %}
            {% if page.nav == "cv" %}
                <li class="nav-item active">
                    <a class="nav-link" href="/cv.html">cv</a>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/cv.html">cv</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="navbar ml-auto">
        <a class="navbar-brand" href="https://github.com/dongwon900" target="_blank">
            <img src="/images/github.svg" width="25" height="25" alt="github">
        </a>
        <a class="navbar-brand" href="https://www.youtube.com/channel/UCZmaau3B54hF5MQ9oV7eI6A" target="_blank">
            <img src="/images/youtube.svg" width="25" height="25" alt="youtube">
        </a>
        <a class="navbar-brand" href="https://www.linkedin.com/in/dongwon900" target="_blank">
            <img src="/images/linkedin.svg" width="25" height="25" alt="linkedin">
        </a>
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    
</nav>

<!-- main content -->
<div class="content">
    {{ content }}
</div>

<!--
<footer class="container-fluid bg-4 text-center">
<p style="vertical-align: middle;">
    dong-daddy™ 2020<br>
    jack-of-all-trades {{ site.data.identity.version}} - <a href="https://joat.ml">joat.ml</a> <br>
</p> 
</footer> -->

</body>
</html>